<div class="panel panel-default">
    <div class="panel-body">
        <h3 class="panel-caption">{{ panelCaption|default('KAYITLAR')  }}</h3>
        {% if panelCaptionText %}
            <p class="panel-caption-text">{{ panelCaptionText }}</p>
        {% endif %}


        <table class="table table-hover">
            <thead>
            <tr>
                {% if hideCheckbox is sameas(true) %}
                    <th class="table-check">
                        <div class="checkbox checkbox-primary">
                            <input title="" type="checkbox">
                            <label></label>
                        </div>
                    </th>
                {% endif %}
                <th>İsim</th>
                <th class="text-right">Tutar</th>
                <th>Durum</th>
                <th>Tarih</th>
                <th class="text-right">İşlemler</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% if hideCheckbox is sameas(true) %}
                    <td>
                        <div class="checkbox checkbox-primary">
                            <input title="" type="checkbox">
                            <label></label>
                        </div>
                    </td>
                {% endif %}
                <td>Hasan Ballı</td>
                <td class="text-right">150,00 TL</td>
                <td>
                    <span class="label label-success">Alacak</span>
                </td>
                <td>12/10/2016</td>
                <td class="table-action">
                    <a href="#"><i class="fa fa-pencil"></i></a>
                    <a href="#"><i class="fa fa-times"></i></a>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="checkbox checkbox-primary">
                        <input title="" type="checkbox">
                        <label></label>
                    </div>
                </td>
                <td>Hasan Ballı</td>
                <td class="text-right">150,00 TL</td>
                <td>
                    <span class="label label-purple">Borç</span>
                </td>
                <td>12/10/2016</td>
                <td class="table-action">
                    <a href="#"><i class="fa fa-pencil"></i></a>
                    <a href="#"><i class="fa fa-times"></i></a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>

    <div class="panel-footer">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
</div>