{% extends "base.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-sm-9">
        {% include "layouts/panel.table.html.twig" %}
    </div>



    <div class="col-sm-3">
        <div class="panel panel-default">

            <div class="panel-body">
                <h3 class="panel-caption">EYLEMLER</h3>
                <p class="panel-caption-text">Son eylemler listesi</p>

            </div>
        </div>
    </div>
</div>
{% endblock %}